div.name{
	font-size: 2em;
	text-align: center;
}

.name{
	height: 2em;
}

div.phone{
	font-size: 2em;
}

.num{
	height: 2em;
}

a,u {
	text-decoration: none;
	font-size: 3em;
	font-family: sans-serif;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}

.backbtn {
	position:absolute;
	top: 3%;
	left: 3%;
}

img {
  width:100%;
  height: 46%;
  bottom: 0;
  position: absolute;
  display: block;
  float: left;
}

body {
  overflow: hidden;
  font-family: sans-serif;
  background-color: #41A3D2;
}
