body,html {
	font-family: 'Nanum Gothic', sans-serif;
	 color: white;
}

h1{
	text-align: center;
}

div.name, div.email, div.phone {
	font-size: 2em;
	text-align: center;
}

.name {
	height: 2em;
}

.num {
	height: 2em;
}

a,u {
	text-decoration: none;
	font-size: 3em;
	font-family: sans-serif;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: black;
}

a:active {
	color: black;
}

.backbtn {
	position:absolute;
	top: 3%;
	left: 3%;
}

img {
  width:100%;
  height: 46%;
  bottom: 0;
	left: 0;
  position: absolute;
  display: block;
  float: left;
}

body {
  overflow: hidden;
  background-color: #41A3D2;
}
