body{

}

#queueSpace {
    padding-top: 55%;
    padding-left: 20px;
}

.navbar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #D84343;
    position: absolute;
    top: 0;
    left:0;
    width: 75%;
    font-family: 'Nanum Gothic', sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #28B463
    position: absolute;
    top: 0;
    left:75%;
    width: 25%;
    font-family: 'Nanum Gothic', sans-serif;
}

.cont{
display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
   font-family: 'Nanum Gothic', sans-serif;
}
.cont a{
    display: block;
    color: white;
    text-align: left;
    padding: 0px 0px;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
}

li a:hover:not(.active) {
    color: #111;
}
#sidebar {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 25%;
    background-color: #28B463;
    font-family: 'Nanum Gothic', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    width: 25%;
    text-align: left;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: 'Nanum Gothic', sans-serif;
    color: white;

}

li a {
    display: block;
    color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
}

a {
    display: block;
    color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
}

#time {
    color: white;
    text-align: center;
}

#date {
    font-size: 2em;
    font-family: 'Nanum Gothic', sans-serif;
    margin-left: 15%;
    margin-right: 20%;
}
.cal-event {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

/*
#2879B4 - blue
#6328B4 - [urple]
*/
.tl { position: fixed; top: 6.8%; left: 0; right: 62.5%; bottom: 46.75%;
      background: #41A3D2  ; border:solid #000; border-width: 0 thin thin 0; font-size: 2em;    }
.tr { position: fixed; top: 6.8%; left: 37.5%; right: 25%; bottom: 46.75%;
      background:  #41A3D2; border:solid #000; border-width: 0 0 thin thin; font-size: 2em;}
.bl { position: fixed; top: 53.25%; left: 0; right: 62.50%; bottom: 0;
      background:  #41A3D2; border:solid #000; border-width: thin thin 0 0; font-size: 2em;    }
.br { position: fixed; top: 53.25%; left: 37.5%; right: 25%; bottom: 0;
      background: #41A3D2; border: solid #000; border-width: thin 0 0 thin; font-size: 2em; }

.fill-div {
    display:inline-block;
    width:100%;
    height:100%;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;
    color:white;
}

.center-link {
    position: relative;
    padding-top: 15%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: 70;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    margin: 70;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

.modal-contentB {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}