body{

}



.navbar2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
    position: absolute;
    top: 0;
    left:0;
    width: 75%;
    font-family: sans-serif;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5bc446;
    position: absolute;
    top: 0;
    left:75%;
    width: 25%;
    font-family: sans-serif;
}

.cont{
display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
   font-family: sans-serif;
}
.cont a{
    display: block;
    color: white;
    text-align: left;
    padding: 0px 0px;
    text-decoration: none;
    font: sans-serif;
}

li a:hover:not(.active) {
    background-color: #111;
}
#sidebar {
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    width: 25%;
    background-color: green;
    font-family: sans-serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    text-align: center;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-family: sans-serif;
    color: white;

}

li a {
    display: block;
    color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
}

a {
    display: block;
    color: #f1f1f1;
    padding: 8px 16px;
    text-decoration: none;
}

#time {

    text-align: center;
}

#date {
    font-size: 2em;
    font-family: sans-serif;
    margin-left: 15%;
    margin-right: 20%;
}
.cal-event {
    margin-top: 5%;
    margin-bottom: 5%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.tl { position: fixed; top: 6.5%; left: 0; right: 62.5%; bottom: 46.75%;
      background: #41A3D2  ; border:solid #000; border-width: 0 thin thin 0;     }
.tr { position: fixed; top: 6.5%; left: 37.5%; right: 25%; bottom: 46.75%;
      background: #41A3D2  ; border:solid #000; border-width: 0 0 thin thin; }
.bl { position: fixed; top: 53.25%; left: 0; right: 62.50%; bottom: 0;
      background: #41A3D2  ; border:solid #000; border-width: thin thin 0 0;     }
.br { position: fixed; top: 53.25%; left: 37.5%; right: 25%; bottom: 0;
      background: #41A3D2 ; border: solid #000; border-width: thin 0 0 thin }

.fill-div {
    display:inline-block;
    width:100%;
    height:100%;
    text-align: center;
    font-family: sans-serif;
    color:white;
}

.center-link {
    position: relative;
    padding-top: 20%;
}
